.App {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.App .container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.App h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
}

.App section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  padding: 20px 35px;
}

.App header h1 {
  color: #342f51;
  letter-spacing: 3px;
}

.App footer p {
  color: #342f51;
}

.App a {
  text-decoration: none;
  color: #6c63ff;
}

.App li {
  list-style-type: none;
  display: inline-block;
  padding-right: 15px;
}

.App ul {
  padding-left: 0;
}

.App img {
  border-radius: 5px;
}
